* {
    color: aliceblue;
}

body {
    background-image: url('/assets/bg_2.png');
    align-items: center;
    justify-content: center;
    background-size: cover;
    /* Ensures the image covers the entire screen */
    background-position: center;
    /* Centers the image */
    background-attachment: fixed;
    /* Keeps the image in place while scrolling */
    margin: 0;
    /* Removes default body margin */
    height: 100vh;
}

#events{
    /* translucent white background */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
}